@* @model List<Student>;
@{
    ViewData["Title"] = "Student Page";
    var students = Model ?? [];
    var departments = ViewBag.Departments as List<Department> ?? [];
}
<div class="">
    <h1 class="text-center display-4">Welcome Student Page</h1>

    <form class="row g-3 align-items-center" method="GET" action="/Student/Index">
        <div class="col-6">
            <label class="visually-hidden" for="KeySearch">KeySearch</label>
            <div class="input-group">
                <input type="text" class="form-control" id="KeySearch" name="KeySearch" placeholder="KeySearch">
            </div>
        </div>
        <div class="col-4">
            <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
            <select class="form-control" name="DepartmentId" id="DepartmentId">
                <option value="">All</option>
                @foreach (var department in departments)
                {
                    <option value="@department.Id">@department.Name</option>
                }
            </select>
        </div>

        <button type="submit" class="col-2 btn btn-primary">Search</button>
    </form>

    <table class="mt-4 table table-hover text-center">
        <thead>
            <th>ID</th>
            <th>Code</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>Address</th>
            <th>Deparment</th>
            <th>
                <a class="btn btn-primary" href="/Student/Create">Create</a>
            </th>
        </thead>
        <tbody>
            @foreach (var student in students)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Code</td>
                    <td>@student.Name</td>
                    <td>@student.Birthday</td>
                    <td>@student.Address</td>
                    <td>@student.Department?.Name</td>
                    <td>
                        <a class="btn btn-success" href="/Student/Update?id=@student.Id">Update</a>
                        <a class="btn btn-danger" href="/Student/Delete?id=@student.Id"
                            onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div> *@
